/* CSS reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

button {
    border: initial;
    background: initial;
    font: inherit;
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 25px;
}

button:hover {
    cursor: pointer;
    background-color: #000;
    border: 1px solid white;
    border-radius: 25px;
    color: #f2f2f2;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}

body {
    max-width: 1400px;
    margin: auto;
    font-family:'Libre Bodoni', serif;
    font-weight: 400;
    /* margin-left: 10%;
    margin-right: 10%; */
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

/* Global list items styles */
ul {
    list-style: none;
    text-align: center;
}
li {
    display: inline-block;
}

header > img {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

/* Navigation bar */
.nav_bar {
    background-color: #ffffff;
}
.nav_bar a {
    padding: 10px 20px;
}
.nav_bar a:hover {
    text-decoration: underline;
}

/* Main content */
.flex_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
}

/* Promotional banner */
.promotional_banner {
    background-color: #000;
}
.promotional_banner_content {
    padding: 25px;
    color: #ffffff;
}

.section_heading {
    text-align: center;
}

/* Shop */
.card {
    width: 350px;
    padding: 10px;
    border-radius: 25px;
}
.occasion_image img {
    width: 300px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}
.card:hover {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    transform: scale(1.03);
}

/* About Us */
.about_us_container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.about_us_img {
    background-color: aquamarine;
}
.about_us_img {
    flex: 1 250px;
}
.about_us_img img {
    width: 250px;
}
.about_us_text {
    flex: 1;
}

footer {
    height: 200px;
    padding: 2em;
}
footer img {
    width: 250px;
}