/* CSS reset */
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f2f2f2;
    font-family:'Libre Bodoni', serif;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

/* Global list items styles */
ul {
    list-style: none;
    text-align: center;
}
li {
    display: inline-block;
}

header > img {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

.nav_bar {
    background-color: #ffffff;
}
.nav_bar a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: #000;
}
.nav_bar a:hover {
    font-weight: 600;
    text-decoration: underline;
}

/* Main content */
section {
    display: flex;
}
article {
    flex: 1;
}

/* Shop */
.occasion_image img {
    width: 350px;
}

/* About Us */
.about_us img {
    width: 500px;
}

/* footer */
footer {
    display: flex;
}

footer img {
    width: 250px;
}

footer div {
    flex: 1;
}