/* CSS reset */
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f2f2f2;
    font-family:'Libre Bodoni', serif;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

/* Global list items styles */
ul {
    list-style: none;
    text-align: center;
}
li {
    display: inline-block;
}

/* Company logo */
header > img {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

/* Main content */
section {
    display: flex;
}
article {
    flex: 1;
}

/* Shop */
.occasion_image img {
    width: 350px;
}

/* About Us */
.about_us img {
    width: 500px;
}

/* footer */
footer {
    display: flex;
}

footer img {
    width: 250px;
}

footer div {
    flex: 1;
}